<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>滚动加载+刷新</title>
    <link rel="stylesheet" href="css/scroll-load.css">
</head>
<body>
    <div class="scroll-container">
        <div class="scroll-refresh">
            请下拉到顶部
        </div>
        <div class="scroll-content">
            <div class="scroll-content-item"></div>
            <div class="scroll-content-item"></div>
            <div class="scroll-content-item"></div>
            <div class="scroll-content-item"></div>
            <div class="scroll-content-item"></div>
            <div class="scroll-content-item"></div>
            <div class="scroll-content-item"></div>
        </div>
        <div class="scroll-load">
            <!--上滑加载更多-->
        </div>
    </div>

    <script src="js/scroll-load.js"></script>
    <script>
        new ScrollLoad('.scroll-container', {
            scrollContainerElTranslateY: -50, //等于scroll-refresh标签高度
            scrollRefresh(){
                let scrollContentEl = document.body.querySelector(".scroll-content");
                let documentFragment = document.createDocumentFragment();
                for(let i = 0; i < 7; i++){
                    let divEl = document.createElement("div");
                    divEl.className = "scroll-content-item";
                    documentFragment.appendChild(divEl);
                }
                document.body.querySelector(".scroll-content").insertBefore(documentFragment, scrollContentEl.firstChild);
            },
            scrollLoad(){
                let documentFragment = document.createDocumentFragment();
                for(let i = 0; i < 7; i++){
                    let divEl = document.createElement("div");
                    divEl.className = "scroll-content-item";
                    documentFragment.appendChild(divEl);
                }
                document.body.querySelector(".scroll-content").appendChild(documentFragment);
            },
        });
    </script>
</body>
</html>